<html xml:xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>视频信息</title>
  <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
  <link rel="stylesheet" href="../css/style.css">
</head>
<body>
<header>时光相册</header>
<section class="flexModal fixedLeft">
  <nav>
    <ul>
      <li class="active">我的空间</li>
      <li><a th:href="${'/album/albumList?userId='+session.user.getUserId()}">我的相册</a></li>
      <li>我的视频</li>
      <li>空间成员</li>
      <li><a th:href="${'/user/userInfo?userId='+session.user.getUserId()}">我的信息</a></li>
    </ul>
  </nav>
  <article>
    <h5>视频信息</h5>
    <table>
      <tr>
        <td>视频</td>
        <td>
          <video width="320" height="180" controls>
            <source th:src="${video.videoUrl}" type="video/mp4">
            <source src="movie.ogg"  type="video/ogg">
          </video>
        </td>
      </tr>
      <tr>
        <td>照片编码</td>
        <td th:text="${video.getVideoNo()}"></td>
      </tr>
      <tr>
        <td>标签</td>
        <td th:text="${video.getLabelName()}"></td>
      </tr>
      <tr>
        <td>备注</td>
        <td th:text="${video.getNote()}"></td>
      </tr>
      <tr>
        <td>创建时间</td>
        <td th:text="${video.getGmtCreate()}"></td>
      </tr>
      <tr>
        <td>最后修改时间</td>
        <td th:text="${video.getGmtModify()}"></td>
      </tr>
      <tr>
        <td colspan="2">
          <button onclick="modify()">编辑</button>&emsp;&emsp;
          <button onclick="remove()">删除</button>&emsp;&emsp;
          <button onclick="javascript:window.location = document.referrer;"></button>
        </td>
      </tr>
    </table>
  </article>
</section>
<footer style="font-style: normal;font-weight: normal;font-size: 12px;">本系统由何巧莹个人开发维护</footer>
</body>
<script th:inline>
  function modify(){
    window.location.href = "http://localhost:8088/video/modifyVideo?videoId="+[[${video.videoId}]];
  }

  function remove(){
    let param = {
      "videoId":[[${video.videoId}]]
    }

    $.post("http://localhost:8088/video/removeVideo",param,function (resp){
      if (resp.code === "SUCCESS"){
        alert("删除成功");
        window.location = document.referrer;
        return;
      }else {
        alert("删除失败，服务器移除！");
        return;
      }
    })
  }
</script>
</html>