<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.time.album.timealbum.mapper.PhotoMapper">
    <insert id="saveAlbumRelation">
        insert into tb_album_relation (album_id, photo_id)
        values (#{albumId}, #{photoId})
    </insert>

    <update id="removePhoto">
        update tb_photo
        set is_deleted = 1
        where photo_id = #{photo}
    </update>

    <select id="listPhotoByUserId" resultType="com.time.album.timealbum.dto.resp.PhotoRespDto">
        select a.*
        from tb_photo a
                 inner join tb_album_relation b
                            on a.photo_id = b.photo_id
                 inner join tb_album c
                            on b.album_id = c.album_id
                 inner join tb_user_relation d
                            on c.album_id = d.album_id
                 inner join tb_user e
                            on d.user_id = e.user_id
        where e.user_id = #{userId}
          and a.is_deleted = 0
    </select>

    <select id="listPhotoByAlbumId" resultType="com.time.album.timealbum.dto.resp.PhotoRespDto">
        select a.*
        from tb_photo a
                 inner join tb_album_relation b
                            on a.photo_id = b.photo_id
                 inner join tb_album c
                            on b.album_id = c.album_id
        where c.album_id = #{albumId}
          and a.is_deleted = 0
    </select>
</mapper>